<ion-header>
  <ion-toolbar>
    <ion-title>
      通讯录
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search">
    <ion-searchbar></ion-searchbar>
    <div class="mask"></div>
  </div>
  <ion-list>
    <ion-item-divider>
      <ion-label>
        A
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-avatar slot="start">
        <img src="http://img2.imgtn.bdimg.com/it/u=3372519782,2399674197&fm=214&gp=0.jpg">
      </ion-avatar>
      <ion-label>A1</ion-label>
    </ion-item>
    <ion-item><ion-label>A2</ion-label></ion-item>
    <ion-item><ion-label>A3</ion-label></ion-item>
    <ion-item><ion-label>A4</ion-label></ion-item>
    <ion-item><ion-label>A5</ion-label></ion-item>

    <ion-item-divider>
      <ion-label>
        B
      </ion-label>
    </ion-item-divider>

    <ion-item><ion-label>B1</ion-label></ion-item>
    <ion-item><ion-label>B2</ion-label></ion-item>
    <ion-item><ion-label>B3</ion-label></ion-item>
    <ion-item><ion-label>B4</ion-label></ion-item>
    <ion-item><ion-label>B5</ion-label></ion-item>
    <ion-item-divider>
      <ion-label>
        C
      </ion-label>
    </ion-item-divider>

    <ion-item><ion-label>c1</ion-label></ion-item>
    <ion-item><ion-label>c2</ion-label></ion-item>
    <ion-item><ion-label>c2</ion-label></ion-item>
    <ion-item><ion-label>c4</ion-label></ion-item>
    <ion-item><ion-label>c5</ion-label></ion-item>
  </ion-list>
</ion-content>