<ion-app>
    <ion-header mode="ios">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button text="返回" defaultHref="/tabs"></ion-back-button>
            </ion-buttons>
            <ion-title>Finn</ion-title>
            <ion-icon name="more"></ion-icon>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <div>
            <img src="http://img.zcool.cn/community/01786557e4a6fa0000018c1bf080ca.png">
            <div>
              <div class="plain">
                  <span>啧啧啧啧啧啧做做做做做做做做做做做做做做做做做做做做做做做</span>
              </div>
            </div>
        </div>
        <div class="my">
            <img src="http://img.zcool.cn/community/01786557e4a6fa0000018c1bf080ca.png">
            <div>
                <div class="plain">
                    <span>啧啧啧啧啧啧做做做做做做做做做做做做做做做做做做做做做做做</span>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer>
        <ion-toolbar>
            <ion-icon class="mic" name="mic"></ion-icon>
            <input type="text">
            <ion-icon class="git" name="logo-github"></ion-icon>
        </ion-toolbar>

    </ion-footer>
</ion-app>
