<ion-header mode="ios">
    <ion-toolbar>
        <ion-title>
            发现
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item-group>
        <div>
            <ion-item-divider>
            </ion-item-divider>
            <div >
                <ion-label>
                    <img src="/src/assets/images/icon-1.png" alt="">
                    <span>朋友圈</span>
                    <ion-icon slot="end" name="arrow-forward"></ion-icon>
                </ion-label>
            </div>
        </div>
       <div>
           <ion-item-divider>
           </ion-item-divider>
           <div expand="full" color="medium" fill="outline">
               <ion-label>
                   <img src="/src/assets/images/icon-2.png" alt="">
                   <span>扫一扫</span>
                   <ion-icon slot="end" name="arrow-forward"></ion-icon>
               </ion-label>
           </div>
           <div expand="full" color="medium" fill="outline">
               <ion-label>
                   <img src="/src/assets/images/icon-3.png" alt="">
                   <span>摇一摇</span>
                   <ion-icon slot="end" name="arrow-forward"></ion-icon>
               </ion-label>
           </div>
       </div>
       <div>
           <ion-item-divider>
           </ion-item-divider>
           <div expand="full" color="medium" fill="outline">
               <ion-label>
                   <img src="/src/assets/images/icon-4.png" alt="">
                   <span>看一看</span>
                   <ion-icon slot="end" name="arrow-forward"></ion-icon>
               </ion-label>
           </div>
           <div expand="full" color="medium" fill="outline">
               <ion-label>
                   <img src="/src/assets/images/icon-5.png" alt="">
                   <span>搜一搜</span>
                   <ion-icon slot="end" name="arrow-forward"></ion-icon>
               </ion-label>
           </div>
       </div>
        <div>
            <ion-item-divider>
            </ion-item-divider>
            <div expand="full" color="medium" fill="outline">
                <ion-label>
                    <img src="/src/assets/images/icon-6.png" alt="">
                    <span>附近的人</span>
                    <ion-icon slot="end" name="arrow-forward"></ion-icon>
                </ion-label>
            </div>
        </div>
        <div>
            <ion-item-divider>
            </ion-item-divider>
            <div expand="full" color="medium" fill="outline">
                <ion-label>
                    <img src="/src/assets/images/icon-8.png" alt="">
                    <span>购物</span>
                    <ion-icon slot="end" name="arrow-forward"></ion-icon>
                </ion-label>
            </div>
            <div expand="full" color="medium" fill="outline">
                <ion-label>
                    <img src="/src/assets/images/icon-9.png" alt="">
                    <span>游戏</span>
                    <ion-icon slot="end" name="arrow-forward"></ion-icon>
                </ion-label>
            </div>
        </div>
       <div>
           <ion-item-divider>
           </ion-item-divider>
           <div expand="full" color="medium" fill="outline">
               <ion-label>
                   <img src="/src/assets/images/icon-10.png" alt="">
                   <span>小程序</span>
                   <ion-icon slot="end" name="arrow-forward"></ion-icon>
               </ion-label>
           </div>
       </div>
    </ion-item-group>
</ion-content>